* {
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: #a9a9a9;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  align-items: center;
  position: fixed;
  justify-content: center;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  overflow-y: scroll;
  justify-content: space-around;
}

.main {
  position: fixed;
  top: 100px;
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  color: black;
  background-color: white;
}

.chat {
  display: flex;
  flex-wrap: wrap;
}

nav {
  width: 20%;
  position: fixed;
  display: block;
  justify-content: center;
  /* アイテムを水平方向に中央に配置 */
  color: #a9a9a9;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a,
nav .inner .member li {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  padding: 1rem;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover,
nav .inner .member li:hover {
  background-color: #76A1B8;
}

.toggle-btn {
  /* display: none; */
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  display: block;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
  border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
  top: 4px;
}

.toggle-btn span:nth-child(2) {
  top: 14px;
}

.toggle-btn span:nth-child(3) {
  bottom: 4px;
}

.open #mask {
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.8;
  cursor: pointer;
}

.sidebar {
  left: 0;
  transition: left 0.3s ease-in-out;
  background-color: white;
}

/* メディアクエリを使用して、画面幅が小さい場合にバーガーメニューを表示 */
@media screen and (max-width: 768px) {
  .toggle-btn {
    display: flex;
  }
}

.fs-5 {
  color: white;
}

.message {
  display: flex;
}

.message-icon {
  color: #90ee90;
}

.chat {
  max-width: 600px;
  margin: 0 auto;
}

.message-text1 {
  background-color: pink;
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}

.message-text2 {
  background-color: #90ee90;
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}

.message-text3 {
  background-color: blue;
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}

.message-icon {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.list-group-item {
  background-color: white;
}

.chat {
  max-width: 600px;
  margin: 0 auto;
}

.message-icon {
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.message-text {
  display: inline-block;
  max-width: 70%;
  border-radius: 1rem;
}

.input-field {
  width: 100%;
}

.form {
  width: 100%;
}

.textbox {
  width: 100%;
  height: 60px;
  border: none;
  /* 枠線を無効にする */
}

.input-field .form p {
  position: relative;
}

.input-field .form .textbox {
  position: absolute;
  top: 0;
  background-color: #c0c0c0;
  border-radius: 1rem;
}

.input-field .form .botton {
  position: absolute;
  top: 0;
  left: 90%;
  /* または、適切な位置に設定 */
  border: none;
  /* 枠線を無効にする */
  background-color: #c0c0c0;
}